.card{
    width: 300px;
    height: 700px;
    background-color: #ADFF2F;
    border-radius: 20px;
    margin: 10px;
    position: relative;
}

.card img {
    position: relative;
    left: 46%;
    transform: translateX(-50%);
    height: 40%;
    border-radius: 20px;
    margin: 10px;
}

.card-text{
    padding: 10px;
    padding: 10px
}

